@charset "UTF-8";
/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    padding: 0;
    text-align: center;
    
}

/* Heading */
h1 {
    color: #333;
    margin-bottom: 20px;
}

/* Success Message */
.succMsg {
    font-size: 18px;
    color: #28a745;
    font-weight: bold;
    padding: 10px;
}

/* Table Styling */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #31525b;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: rgb(0, 64, 128);
    color: white;
}

td {
    background-color: #f9f9f9;
}

/* Button Styling */
button {
    background-color: rgb(0, 64, 128);
    color: white;
    border: none;
    padding: 8px 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Forms within Table */
form {
    display: inline-block;
}

/* Container for action buttons */
.container {
    margin-top: 20px;
}

.container form {
    display: inline-block;
    margin: 5px;
}
